<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.FedericoParra.Scrambler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Scrambler</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>UpdateFeedURL</key>
	<string>https://github.com/FEDER-CO/Scrambler/Scrambler.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/FEDER-CO/Scrambler</string>
	<key>productReleaseNotes</key>
	<string>First_Release</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Federico Parra, 2020</string>
	<key>NSPrincipalClass</key>
	<string>Scrambler</string>
</dict>
</plist>
